
.moviejp div{
        display: inline-block;
        vertical-align: middle;
        margin: 10px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        text-align: center;
}
.moviejp div img {
        max-width: 40%;
        max-height: 40%;
        border-radius: 10%;
}
.moviejp:last-child{
    padding-right: 50px;
}
#jpeg {margin:0 auto; text-align:center; width:300px;}

.moviejp{
    border-bottom: 1px solid #78B9E9;
}
.event div{
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}
.event div img{
    max-width: 40%;
        max-height: 40%;
        border-radius: 10%;
}
.gra{
    background:linear-gradient(-135deg,#ff0000,#9A2EFE);
}
body{
    padding-left: 120px;
    padding-right: 120px;
    height: 100%;
}
html{
    height: 100%;
}
.footer{
    position: absolute;
    bottom: 0;
}
button {
    background-color: #78B9E9;
    color: aliceblue;
}




*{
	font-family: nanumgothic;
}
html {
    font-size: 16px;
}
main {
    width:1500px;
    margin:2rem auto;
}
main > header {
    padding:1rem;
    overflow: hidden;
}

main > section {
    padding:1rem;
    min-height: 300px;
    overflow: hidden;
}
main > footer {
    padding:1rem;
    overflow: hidden;
}